# Time and Date Series

As discussed in previous tutorials, Pandas was developed to handle data from investment banking. A key aspect of the data types that investment banking have to deal with is time series; data tht varies across actual time (seconds, minutes, hours, days, weeks, months and years).

Because of this, Pndas comes with abundant functionality to deal with time series, time events and computations. The Pandas time series functionality leverages what we have alredy discussed about the library *indexes*, *series* and *data frames* and builts on top of python's own time functions.

---

## Python's time and date modules

Python provides a series of fundamental functions dealing with time, time zones, calendars, etc. 

These modules come standard with Python3 and access the Linux/Unix (of Windows's) OS functionality to provide time-oriented functionality.

Although we will cover some of the functionality in these python modules, an exhustive coverage of the functionality of these python modules is beyond the scope of the current tutorial. That said below the list of modules pertaining with time and date operations and data:

| Module Name | Description | Usage |
| --- | --- | --- |
| [Time](https://docs.python.org/3/library/time.html#module-time) | This module provides various time-related functions. | `import time` |
| [datetime](https://docs.python.org/3/library/datetime.html#module-datetime) | This module supplies classes for manipulating dates and times. | `import datetime` |
| [Calendar](https://docs.python.org/3/library/calendar.html#module-calendar) | This module allows you to output calendars like the Unix cal program, and provides additional useful functions related to the calendar. | `import calendar` |
|[Zoneinfo](https://docs.python.org/3/library/zoneinfo.html#module-zoneinfo) | A time zone implementation interfacing with the system’s time zone data (if available e.g. Unix/Linux; see also [PEP 615](https://peps.python.org/pep-0615/)). | ` import zoneinfo` |

In [ ]:
from datetime import datetime
datetime(year=2015, month=7, day=4)

---
## Pandas Time Series

Pandas provides convenient and exstensive interfaces to access time and date information. 

In addition to consolidating functionality from the basic python libraries, pandas has consolidated functionality also from other libraries, such as NumPy, scikits.timeseries, as well as created new functionality for manipulating time series data.

Hereafer, we will dig into a few of the features pandas has to offer!

In [16]:
import pandas as pd
import numpy as np

In [31]:
dates = pd.date_range("20100101", periods=120, freq='M')

In [32]:
dates

DatetimeIndex(['2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30',
               '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31',
               '2010-09-30', '2010-10-31',
               ...
               '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30',
               '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31',
               '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', length=120, freq='M')

In [75]:
df = pd.DataFrame(np.random.randn(np.squeeze(dates.shape), 4), 
                  index=dates, 
                  columns={"Peace", "Love", "knowledge", "compassion"})

## Getting dates

In [81]:
import zoneinfo

## Selection by position

In [76]:
df.iloc[3]

knowledge    -0.008659
compassion   -1.877908
Love          0.170503
Peace         0.865697
Name: 2010-04-30 00:00:00, dtype: float64

## Selection by location

In [77]:
df.loc[dates[0]]

knowledge     0.244775
compassion    1.041617
Love         -1.232863
Peace         1.040040
Name: 2010-01-31 00:00:00, dtype: float64

## Selection by label

In [79]:
df.loc[:, ["Peace", "Love"]]

               Peace      Love
2010-01-31  1.040040 -1.232863
2010-02-28  1.532366  0.146323
2010-03-31 -0.013712 -0.021811
2010-04-30  0.865697  0.170503
2010-05-31 -0.326827  0.860117
...              ...       ...
2019-08-31  0.029514 -0.076127
2019-09-30  0.553328  0.505788
2019-10-31 -1.546321 -1.149413
2019-11-30  0.410351 -0.449081
2019-12-31  0.428390  0.138704

[120 rows x 2 columns]

In [80]:
df.loc["20130102":"20130104", ["Peace", "Love"]]]

SyntaxError: unmatched ']' (1437452652.py, line 1)

## Boolean indexing

In [ ]:
df[df["Love"] > 0]